
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VIL Index</title>
</head>
<body>
    <div>
        <h1>Vehicle Information Library</h1> 
    </div>
</body>
</html>
