
@{
    ViewBag.Title = "Procedure";
}

<h2>ANTI-LOCK BRAKE SYSTEM, INSPECTION</h2>

<br />

<p>
    A visual inspection must always be performed to confirm the presence of aftermarket components,
    potential collision damage, or areas of concern.
    <br />
</p>
<p>
    The ABS module is self monitoring. The module will carry out a preliminary electrical inspection of the
    hydraulic pump motor by turning the pump ON for approximately half second either when the ignition switch is turned
    to the RUN position and the brake pedal is not pressed or when the vehicle is in motion and at vehicle speeds above 12 mph.
    <br />
</p>
<p>
    The ABS module will also carry out a wheel speed sensor self-test by sending a reference voltage to all of the wheel speed
    sensors through their circuitry when the ignition switch is turned to the RUN position, with or without brake pedal application.
    <br />
</p>
<p>
    If a fault is detected in the pump or wheel speed sensors, the ABS module will shut down and disable the anti-lock system.
    Normal power assisted braking, however, remains.
</p>

<br />

<ol type="1">
    <li>Verify stop lamps operate correctly by applying and releasing brake pedal with ignition switch in OFF position.</li><br />
    <li>Verify that PRNDL operates correctly on instrument cluster.</li><br />
    <li>Visually inspect for obvious signs of mechanical or electrical damage.</li><br />
    <li>If an obvious cause for an observed or reported concern is found, correct cause if possible before proceeding.</li><br />
    <li>Connect a suitably programmed scan tool to vehicle DLC.</li><br />
    <li>Carry out network test.</li><br />
    <li>Clear continuous DTCs and carry out self-test diagnostics for ABS module.</li><br />
</ol>
