@{
    ViewBag.Title = "MOTOR";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>We are the world’s premier supplier of automotive data. MOTOR’s mission since 1903 has been to provide 
    customers with unbiased, accurate, authoritative and reliable information in consistent easy-to-use formats.</p>
