@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    1301 W. Long Lake Road<br />
    Suite 300<br />
    Troy, MI 48359<br />
    <abbr title="Phone">P:</abbr>
    (800) 288-6828
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@motor.com">Support@motor.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@motor.com">Marketing@motor.com</a>
</address>