@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>MOTOR Information Systems - Vehicle Information Library</h3>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-2">
        <div class="navbar navbar-inverse navbar-fixed-left">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Procedure", "Index", "Procedure")</a></li>
                <li><a href="#">Specifications</a></li>
                <li><a href="#">Component Locations</a></li>
                <li><a href="#">Wiring Diagrams</a></li>
                <li><a href="#">Technical Service Bulletins</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <h2>Getting started</h2>
        <p>
            The Vehicle Information Library (VIL) provides access to vehicle service and repair information 
            in a tablet-friendly, easy to use format. VIL gives you access to over 30 data sets to create a 
            comprehensive solution tailored to your business.
            
        </p>
        <p><a class="btn btn-default" href="http://www.motor.com/products/vehicle-information-library//" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Data As A Service</h2>
        <p>Data as a Service (DaaS) provides trusted MOTOR data in secure, RESTful web services. Buy only the 
        data that you need, choosing from 11 different data sets and 3 premium option services. Whether you 
        are creating repair estimates, managing a parts catalog, or building an e-commerce solution, 
        the possibilities are endless with MOTOR DaaS.</p>
        <p><a class="btn btn-default" href="http://www.motor.com/products/data-as-a-service/" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Selectline</h2>
        <p>Selectline is a web-based, easy-to-use tool that streamlines communication between the front of the shop 
        and the back, allowing the service desk and technicians to communicate electronically without leaving their 
        stations in-shop. It ties estimating, parts search and service information to labor operations, creating 
        a simplified workflow and higher profits. Selectline delivers estimates alongside parts information, 
        labor and preventive maintenance schedules related specifically to the vehicle and operations selected.</p>
        <p><a class="btn btn-default" href="http://www.motor.com/products/selectline/" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>